.app-container {
  flex-direction: column;
  display: flex;
  gap: 20px;
  .header-container {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    .inputs-container {
      display: flex;
      justify-items: center;
      align-items: center;
      gap: 12px;
      > input {
        width: 190px;
        height: 23px;
      }
    }
  }
  .movies-cards-container {
    flex-wrap: wrap;
    display: flex;
    gap: 8px;
  }
}
